DISCORD_TOKEN=
DISCORD_CLIENT_ID=1540169303213609023
DISCORD_GUILD_ID=1429398855681573038
DISCORD_PUBLIC_KEY=
CREATORHUB_URL=https://creators.rmsglobalpublishing.com/
RMS_MARKETPLACE_URL=https://creators.rmsglobalpublishing.com/marketplace
RESET_INNER_CIRCLE_URL=https://resetinnercircle.com/
SUPPORT_CHANNEL_ID=1527834741875671130
EVENTS_CHANNEL_ID=1527837862882578432
MISSIONS_CHANNEL_ID=1527836438425505802
AUTOMATION_ALERTS_CHANNEL_ID=1540515627540946985
